/.gradle/
**/build/
**/.settings
**/.classpath
**/.project
**/bin
.idea/*
.fleet/*
**/out/*
*.iml
*pid*.log
*.log
/.idea/**
**/rebel.xml
*.launch
hrm-integration/hrm-integration-web/.springBeans
.DS_Store
/gradlew
/gradlew.bat
**/resources/version-commit.txt
.vscode/settings.json
.vscode/launch.json
/target
/.xcodemap